<div class="container flex">
    <form>
      <label>
        Name:
        <input type="text" placeholder="Name" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchFilter.name"/>
      </label>
      <label>
        Country:
        <input type="text" placeholder="Country"  [ngModelOptions]="{standalone: true}" [(ngModel)]="searchFilter.country"/>
      </label>
      <label>
        Category:
        <input type="text" placeholder="Category" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchFilter.category"/>
      </label>
      <label>
        Followers:
        <input type="number" placeholder="Followers" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchFilter.followers"/>
      </label>
      <label>
        Combine Search
        <input type="checkbox" [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}">
      </label>
      <p *ngIf="showMessageError" class="text-error">{{ errorMessage }}</p>
      <app-spinner *ngIf="!show"></app-spinner>
      <button type="button" class="Search" (click)="Search()">Search</button>
      <button class="Search" (click)="RefreshPage()">Refresh</button>
    </form>
  </div>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Platform</th>
            <th>Followers</th>
            <th>Country</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of influencers">
            <td>
                <img [src]="item.image" alt="artista" [ngStyle]="{'width.px': 64, 'height.px': 64, 'border-radius.px': 10}">
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.platform }}</td>
            <td>{{ item.followers }}</td>
            <td>{{ item.country }}</td>
            <td>{{ item.category }}</td>
            <td>
                <button *ngIf="permission" (click)="Edit(item.id)" class="icon-button">
                    <i class='bx bxs-edit-alt bx-tada icon' style='color:#44c43f'></i>
                </button>
                <button *ngIf="permission" (click)="Delete(item.id)" class="icon-button">
                    <i class='bx bxs-trash-alt bx-tada icon' style='color:#ff0005'></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>