<nav class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../../../assets/shazam.png" alt="icon logo">
            </span>

            <div class="text header-text">
                <span class="name">Thiago</span>
                <span class="profession">Web Developer</span>
            </div>
        </div>
        <!-- Next Feature -->
        <!-- <i class='bx bx-chevron-right toggle'></i> -->
    </header>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <i class='bx bx-home-alt icon'></i>
                    <span class="text nav-text" (click)="AllowMode('dashboard')">Dashboard</span>
                </li>
                <li class="nav-link" *ngIf="permission">
                    <i class='bx bx-user-plus icon'></i>
                    <span class="text nav-text" (click)="AllowMode('newInfluencer')">New Influencer</span>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <li class="nav-link">
                <i class='bx bx-log-out icon'></i>
                <span class="text nav-text" (click)="Logout()">Logout</span>
            </li>
            <li class="mode">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark Mode</span>
                <div class="toggle-switch" (click)="Darkmode()">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>

</nav>